<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        I'm Muhammad Azri, an expert fullstack mobile app developer specializing in the
        Flutter Framework. I excel in creating exceptional mobile applications
        that prioritize user experience and lasting impact.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        My expertise extends to developing hybrid mobile apps using the Flutter
        framework and handling backend tasks with Golang. Committed to adhering
        to best practices, I meticulously code to ensure the highest standards.
        I firmly believe that following best practices not only enhances user
        experience but also minimizes bugs, leading to consistently superior
        outcomes. Let me assist you in achieving your mobile app objectives with
        reliability and excellence.
      </p>
    </div>
  </div>
</section>
